order_id: nullable=NO, default=null
sender_id: nullable=NO, default=null
business_id: nullable=YES, default=null
sender_name: nullable=NO, default=null
sender_phone: nullable=NO, default=null
sender_address: nullable=NO, default=null
sender_state: nullable=NO, default=null
sender_city: nullable=NO, default=null
sender_pincode: nullable=NO, default=null
receiver_name: nullable=NO, default=null
receiver_phone: nullable=NO, default=null
receiver_address: nullable=NO, default=null
receiver_state: nullable=NO, default=null
receiver_city: nullable=NO, default=null
receiver_pincode: nullable=NO, default=null
special_instruction: nullable=YES, default=null
order_amount: nullable=NO, default=null
delivery_status_id: nullable=NO, default=null
created_at: nullable=YES, default=CURRENT_TIMESTAMP
is_complete: nullable=YES, default=false
urgency: nullable=NO, default='Normal'::character varying
fare_breakdown: nullable=YES, default=null
distance_km: nullable=YES, default=null
delivery_partner_id: nullable=YES, default=null
sender_lat: nullable=YES, default=null
sender_lng: nullable=YES, default=null
receiver_lat: nullable=YES, default=null
receiver_lng: nullable=YES, default=null